<h1>Edit assert</h1>

<form id="edit-assert" name="assert">
  <div class="field">
    <label for="assertName"> assertName:</label>
    <input type="text" name="assertName" id="assertName" value="<%= assertName %>" >
  </div>

  <div class="field">
    <label for="community"> community:</label>
    <input type="text" name="community" id="community" value="<%= community %>" >
  </div>

  <div class="field">
    <label for="shortDescription"> shortDescription:</label>
    <input type="text" name="shortDescription" id="shortDescription" value="<%= shortDescription %>" >
  </div>

  <div class="field">
    <label for="version"> version:</label>
    <input type="text" name="version" id="version" value="<%= version %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Assert" />
  </div>

</form>

<a href="#/index">Back</a>