<h1>Listing asserts</h1>

<table>
  <tr>
    <th>Assertname</th>
    <th>Community</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asserts.each do |assert| %>
  <tr>
    <td><%= assert.assertName %></td>
    <td><%= assert.community %></td>
    <td><%= link_to 'Show', assert %></td>
    <td><%= link_to 'Edit', edit_assert_path(assert) %></td>
    <td><%= link_to 'Destroy', assert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assert', new_assert_path %>
