<h1>New asset</h1>

<form id="new-asset" name="asset">
  <div class="field">
    <label for="assetName"> assetName:</label>
    <input type="text" name="assetName" id="assetName" value="<%= assetName %>" >
  </div>

  <div class="field">
    <label for="community"> community:</label>
    <input type="text" name="community" id="community" value="<%= community %>" >
  </div>

  <div class="field">
    <label for="shortDescription"> shortDescription:</label>
    <input type="text" name="shortDescription" id="shortDescription" value="<%= shortDescription %>" >
  </div>

  <div class="field">
    <label for="version"> version:</label>
    <input type="text" name="version" id="version" value="<%= version %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Asset" />
  </div>

</form>

<a href="#/index">Back</a>